.row {
  max-width: 700px;
  margin: 40px auto;
  border: 1px solid black;
  box-shadow: 5px 5px 8px #2090ac, 10px 10px 8px gray;
  padding: 10px 10px 50px;
  border-radius: 20px;
}
h2 {
  text-align: center;
}
